{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">

    <h1 class="text-center text-primary">Novo Usuário</h1>
    <div class="d-flex justify-content-end mb-4">
        <form action="{{ url_for('user.new_user') }}" method="post" class="form-control control mb-3">
            Nome: <input type=" text" name="name"><br><br>
            Email: <input type="email" name="email"><br><br>
            Senha: <input type="password" name="senha"><br><br>
            <button type="submit" class="btn btn-primary mb-3">Enviar</button>
        </form>
    </div>
    <a href="{{ url_for('user.list_users') }}" class="btn btn-primary mb-3">Voltar para a lista de usuários</a>
</div>
{% endblock content %}